html {
    background: #242424;
    height: 100%;
    max-width: 100%;
} 

/* About Page */

.aboot_me {
  font-size: 1em;
  line-height: 1.5em;
}

.box {
  max-width: 2000px;
  margin-top: 10%;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
}

.imgbox {
  padding: 2px;
}

.aboot {
  padding-left: 20px;
  color: #ff0000;
}

/* Main Page */

.home {
  margin: 0 auto;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1.75s;
}


.homeheadero {
margin: 0 auto;
margin-top: 18%;
text-transform: uppercase;
font: bold 95pt 'Montserrat';
line-height: 95%;
}

.homeheadert {
margin: 0 auto;
font: normal 45pt 'Montserrat';
text-align: center;
}


/* All Pages (overlay and logo) */

.content {
    float:left;
    width:70%;
    margin:5% 15%;
    padding:2em 0;
    color: #FFF;
  }

h1 {
    text-align: center;
    margin:5%;
}

.header {
  text-transform: uppercase;
  font: bold 70pt 'Montserrat';
  letter-spacing: 3pt;
}

 .navbar-brand {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family:'Montserrat';
    position: fixed;
    top: 3%;
    left: 1.5%;
    height: 75px;
    width: 75px;
    cursor: pointer;
  }

/* this is for the hamburger */

 .container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 40%;
    left: 0;
    margin: 0 auto;
    font-family: 'Montserrat';
  }

  .container p {
    font-size: 20px;
  }

  .container a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #86BF73;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
  }

  .container a:after {
    content: '';
    position: absolute;
    background: #86BF73;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease;
  }

  .container a:hover:after, .container a:focus:after, .container a:active:after {
    width: 100%;
  }
  
  .button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }

  .button_container:hover {
    opacity: .7;
  }

  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }

  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }

  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }

  .button_container span {
    background: #ffffff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .button_container span:nth-of-type(2) {
    top: 11px;
  }

  .button_container span:nth-of-type(3) {
    top: 22px;
  }
  
  .overlay {
    position: fixed;
    background: #86BF73;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }

  .overlay.open {
    opacity: .98;
    visibility: visible;
    height: 100%;
    z-index: 1;

  }

  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }

  .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }

  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }

  .overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
  }

  .overlay.open li:nth-of-type(5) {
    animation-delay: .55s;
  }

  .overlay nav {
    position: relative;
    height: 50%;
    top: 45%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
  }

  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }

  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }

  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }

  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }

  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: .35s;
  }
  
  @keyframes fadeInRight {
    0% {opacity: 0;
        left: 20%;}
    100% {opacity: 1;
        left: 0;}
  }



/* This is Experience Page */

* {
    margin: 0px;
    padding: 0;
}

.contant {
  float:left;
  width:100%;
  margin-top:5%;
  padding:2em 0;
  color: #FFF;
}  

.experience {
    max-width: 900px;
    margin: 0 auto;
}

#left {
    float: left;
    width: 350px;
    margin-top: 110px;
    transform: scale(1.3);
    /* border: white 1px solid; */
}

#right {
    float: right;
    width: 350px;
    margin-top: 110px;
    transform: scale(1.3);
    /* border: white 1px solid; */
}

body {
    margin:0;
    font-size:1.3em;
    color:#333;
    font-family:'Montserrat';
}

h2 {
    color: #fff;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.skills-bar-container {
    position: relative;
    width: 40%;
    min-width: 350px;
    margin: 5% auto;
    list-style: none;
}

.skills-bar-container li {
    background: #666666;
    position: relative;
    width: 100%;
    height: 3px;
    margin-bottom: 35px;
    margin-top: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.skills-bar-container label {
    color: #fff;
    position: relative;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 300;
}

.progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#progress-htmlcss {
    -webkit-animation-name: progress-htmlcss;
    animation-name: progress-htmlcss;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

#progress-jsjq {
    -webkit-animation-name: progress-jsjq;
    animation-name: progress-jsjq;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#progress-layout {
    -webkit-animation-name: progress-layout;
    animation-name: progress-layout;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

#progress-typography {
    -webkit-animation-name: progress-typography;
    animation-name: progress-typography;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

#progress-illustration {
    -webkit-animation-name: progress-illustration;
    animation-name: progress-illustration;
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

#progress-photoshop {
    -webkit-animation-name: progress-photoshop;
    animation-name: progress-photoshop;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

#progress-illustrator {
    -webkit-animation-name: progress-illustrator;
    animation-name: progress-illustrator;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#progress-indesign {
    -webkit-animation-name: progress-indesign;
    animation-name: progress-indesign;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

#progress-dreamweaver {
    -webkit-animation-name: progress-dreamweaver;
    animation-name: progress-dreamweaver;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

#progress-ae {
    -webkit-animation-name: progress-ae;
    animation-name: progress-ae;
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

.progressblue {
    background-color: #70C1B3;
}

@-webkit-keyframes progress-htmlcss {
    0% {width: 0%;}
    100% {width: 60%;}
}

@-webkit-keyframes progress-jsjq {
    0% {width: 0%;}
    100% {width: 40%;}
}

@-webkit-keyframes progress-layout {
    0% {width: 0%;}
    100% {width: 80%;}
}

@-webkit-keyframes progress-typography {
    0% {width: 0%;}
    100% {width: 75%;}
}

@-webkit-keyframes progress-illustration {
    0% {width: 0%;}
    100% {width: 75%;}
}

@-webkit-keyframes progress-photoshop {
    0% {width: 0%;}
    100% {width: 75%;}
}

@-webkit-keyframes progress-illustrator {
    0% {width: 0%;}
    100% {width: 80%;}
}

@-webkit-keyframes progress-indesign {
    0% {width: 0%;}
    100% {width: 70%;}
}

@-webkit-keyframes progress-dreamweaver {
    0% {width: 0%;}
    100% {width: 60%;}
}

@-webkit-keyframes progress-ae {
    0% {width: 0%;}
    100% {width: 15%;}
}

@-moz-keyframes progress-htmlcss {
    0% {width: 0%;}
    100% {width: 60%;}
}

@-moz-keyframes progress-jsjq {
    0% {width: 0%;}
    100% {width: 40%;}
}

@-moz-keyframes progress-layout {
    0% {width: 0%;}
    100% {width: 80%;}
}

@-moz-keyframes progress-typography {
    0% {width: 0%;}
    100% {width: 75%;}
}

@-moz-keyframes progress-illustration {
    0% {width: 0%;}
    100% {width: 75%;}
}

@-moz-keyframes progress-photoshop {
    0% {width: 0%;}
    100% {width: 75%;}
}

@-moz-keyframes progress-illustrator {
    0% {width: 0%;}
    100% {width: 80%;}
}

@-moz-keyframes progress-indesign {
    0% {width: 0%;}
    100% {width: 70%;}
}

@-moz-keyframes progress-dreamweaver {
    0% {width: 0%;}
    100% {width: 60%;}
}

@-moz-keyframes progress-ae {
    0% {width: 0%;}
    100% {width: 15%;}
}

@keyframes progress-htmlcss {
    0% {width: 0%;}
    100% {width: 60%;}
}

@keyframes progress-jsjq {
    0% {width: 0%;}
    100% {width: 40%;}
}

@keyframes progress-layout {0% 
    {width: 0%;}
    100% {width: 80%;}
}

@keyframes progress-typography {0% 
    {width: 0%;}
    100% {width: 75%;}
}

@keyframes progress-illustration {0% 
    {width: 0%;}
    100% {width: 75%;}
}

@keyframes progress-photoshop {
    0% {width: 0%;}
    100% {width: 75%;}
}

@keyframes progress-illustrator {
    0% {width: 0%;}
    100% {width: 80%;}
}

@keyframes progress-indesign {
    0% {width: 0%;}
    100% {width: 70%;}
}

@keyframes progress-dreamweaver {
    0% {width: 0%;}
    100% {width: 60%;}
}

@keyframes progress-ae {
    0% {width: 0%;}
    100% {width: 15%;}
}


/* This is Contact Page */

/* #contact {
    width: 100%;
    height: 100vh;
    background-color: #242424;
    overflow: hidden;
    padding-bottom: 200px;
  } */
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font: 300 60px 'Montserrat;'
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 25px;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 1100px;
  }
  
  /* Begin Left Contact Page */
  .form-horizontal {
    float: left;
    margin-top: 100px;
    max-width: 400px;
    font-family: 'Montserrat';
    font-weight: 400;
    transform: scale(1.25);
  }

  .contact-left, textarea {
    letter-spacing: 1px;
  }

  .contact-left {    
    display: block;
    width: 400px;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #242424;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

    #message {
      height: 200px;
    }

    .btn-send {
      color: #242424;
    }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .button {
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Montserrat';
    letter-spacing: 2px;
  }
  
  .button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  .direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
    transform: scale(1.25);
  }
  
  .contact-list {
    margin-top: 75px;
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Montserrat';
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    top: 0;
    left: -20px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px auto;
    line-height: 70px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #111;
  }
  
  .copyright {
    font: 200 14px 'Montserrat';
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }

  .line {
      border-color: #FFF;
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 760px) {
      #contact {
          height: 1000px;
      }
    .section-header {
      font-size: 65px;
    }
    .direct-contact-container, .form-horizontal {
      float: none;
      margin: 10px auto;
    }  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
    #contact {
      height: 1200px;
      }
    .section-header{
      font-size: 50px;
    }
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      max-width: 340px;
      margin: 0 auto;
    }
    
    .name, .email, textarea {
      width: 280px
    } 
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
