<div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>   
    
<div class="overlay" id="overlay">
    <nav class="overlay-menu">
          <ul>
              <li><a href="{{site.baseurl}}/index">Home</a></li>
              <li><a href="{{site.baseurl}}/portfolio/">Portfolio</a></li>
              <li><a href="{{site.baseurl}}/about/">About</a></li>
              <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
        </ul>
    </nav>
</div>

<a class="navbar-brand" href="{{site.baseurl}}/index"><img src="{{site.baseurl}}/assets/img/logo.svg"></a>
