html {
  height: 100%;
  max-width: 100%;
} 

body {
  background: rgb(15, 14, 14);
  width: 100%;
  height: 100%;
  margin:0;
  font-size:1.3em;
  color:#333;
  font-family:'Open Sans', sans-serif;
}

.pagestyle {
background: rgb(15, 14, 14);
height:100%;
}


/* About Page */

.box {
display: block;
max-width: 500vw;
box-sizing: border-box;
border-radius: 4px;
margin: 0 auto;
padding-top: 3vw;
text-align: center;
}

.imgbox {
display: inline-block;
}

.img_me {
width: 25vw;
vertical-align: 0;
padding: 1vw;
}

.aboot {
font-size: 13pt;
line-height: 23pt;
text-align: left;
color:rgb(255, 255, 255);
// background: #0f0e0e;
}

.aboot_box {
vertical-align: top;
max-width: 750px;
display: inline-block;
padding: 0.5vw;
}

/* Main Page */

.home {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.frontpage {
background-image: url(../img/home_page.png);
height: 100vh;
}

@-webkit-keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}

100% {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
}

@keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}

100% {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
}

.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
animation-duration: 1.75s;
}


.homeheadero {
margin: 0 auto;
text-transform: uppercase;
font: bold 6.5vw 'Montserrat';
line-height: 95%;
}

.homeheadert {
margin: 0 auto;
font: normal 4vw 'Montserrat';
text-align: center;
vertical-align: 0 auto;
}

.content_home {
position: relative;
top: 30%;
// float:left;
width:70%;
margin:5% 20%;
padding:2em 0;
color: #FFF;
// background: #0f0e0e;
}


/* All Pages (overlay and logo) */

.content {
//   float:left;
  width:80%;
  margin:5% 15%;
//   color: #FFF;
}

h1 {
  text-align: center;
}

.header {
text-transform: uppercase;
font: bold 6vw 'Montserrat';
letter-spacing: 3pt;
}

.navbar-brand {
  color: rgb(255, 255, 255);
  opacity: 1;
  position: fixed;
  top: 3%;
  left: 1.5%;
  height: 75px;
  width: 75px;
  cursor: pointer;
  z-index: 3;
}



/* This is Contact Page */

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Montserrat';
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  display:flex;
  flex-flow: row wrap;
  justify-content:space-around;
  padding: 5%;
  margin-top: 3vw;
}

/* Begin Left Contact Page */
.form-horizontal {
  font-family: 'Montserrat';
  font-weight: 400;
  transform: scale(1.25);
  display: inline-block;
  position: relative;
}

.contact-left, textarea {
  letter-spacing: 1px;
}

.contact-left {    
  display: block;
  width: 100%;
  min-width: 25vw;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgb(15, 14, 14);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

  .message {
    height: 200px;
    margin: 0;
  }

  .btn-send {
    color: #242424;
  }

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 100%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Montserrat';
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.direct-contact-container {
  display: inline-block;
  max-width: 400px;
  transform: scale(1.25);
}

.contact-list {
  list-style-type: none;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Montserrat';
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.social-media-list li a {
  color: #fff;
  padding: 5px;
}

.social-media-list li {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(39, 37, 37);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.line {
    border-color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Editorial Page */

* {
  box-sizing: border-box;
}

.editorial_top_page {
  width: 100%;
}

.editorial_top {
  position: relative;
  width: 100%;
}

.editorial_body {
  background-image: url(../assets/img/motely_page.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.editorial_page {
  z-index: 1;
  position: relative;
  width: 100%;
}

.design_para_one {
  z-index: 2;
  position: relative;
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 75px;
  padding-bottom: 75px;
  color: rgb(37, 37, 37);
}

.head {
  text-align: center;
  font-size: 30pt;
  line-height: 60pt;
}

.para {
  font-size: 20pt;
}

/* Carousel */

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-item {
visibility:visible;
  display: flex;
  width: 100%;
  height: 40vw;
  align-items: center;
  justify-content: flex-end;
    -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
 -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
transition: 0.6s all linear;
}

.carousel-item__info {
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;

  display: -webkit-flex;
-webkit-justify-content: center;
-webkit-flex-direction: column;

order: 1;
left: 0;
/* margin: auto; */
padding: 0 3vw;
width: 40%;
background-color: rgb(255, 255, 255);
}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;

    -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 position:relative;
transform: translateX(100%);
transition: 0.6s all ease-in-out;
float: right;
}

.carousel-item__subtitle {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 3vw;
  color: #7E7E7E;    
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-size: 55px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
background-image: url('../assets/img/carousel_one.jpg');
}


.carousel-item--2 .carousel-item__image{
background-image: url('../assets/img/carousel_two.jpg');
}

.carousel-item--3 .carousel-item__image{
background-image: url('../assets/img/carousel_three.jpg');
}

.carousel-item--4 .carousel-item__image{
background-image: url('../assets/img/carousel_four.jpg');
}


/* .carousel-item__container{

} */

.carousel-item__btn {
  width: 35%;
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
text-decoration: none;
    transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #fff;
bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
fill: #5d5d5d;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content:'';
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.acteve{
 z-index: 1;
display: flex;
visibility:visible;
}

.acteve .carousel-item__subtitle, .acteve .carousel-item__title, .acteve .carousel-item__description,.acteve .carousel-item__btn{
  transform: translateY(0);
  opacity: 1;
transition: 0.6s all ease-in-out;
  visibility: visible;
}

.acteve .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}


/* Webdesign Page */

.web_body {
background-color: rgb(219, 247, 251);
}

.webdesign_page {

width: 100%;
top: 0;
left: 0;
position: absolute;
}

.web_head {
width: 100vw;
}

.cosmostop {
top: 0px;
width: 100%;
position: relative;
z-index: 1;
}

.cosmostitle {
width: 100%;
position: absolute;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
animation-duration: 5s;
margin: 0 auto;
z-index: 2;
top: 0;
}

@-webkit-keyframes fadeIn {
0% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}

@keyframes fadeIn {
0% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}

.design_para_two {
position: relative;
padding-left: 15%;
padding-right: 15%;

}

.webmockup {
width: 100%;
}

/* Strength Page */

.strength_top {
width: 100%;
position: relative;
}

.strength_top_img {
width: 100%;
}

.strength_img {
width: 100%;
position: relative;
}

.strength_project_img {
width: 100%;
}

.strength_body {
background-image: url(../assets/img/strength_page.jpg);
background-repeat: no-repeat;
background-size: 100%;
height: 100%;
}

.design_para_three {
width: 100%;
position: relative;
padding-left: 15%;
padding-right: 15%;
}

/* Atelier Fashion Page */

.fashiontop {
position: relative;
}

.fashion_top_img {
width: 100%;
padding-bottom: 2vw;
}

.fashion_page {
background-image: url(../assets/img/fashion_page.jpg);
background-size: 100%;
background-repeat: no-repeat;
width: 100%;
}

.design_para_four {
text-align: center;
padding-left: 15%;
padding-right: 15%;
position: relative;
width: 100%;
}

.fashion_img {
position: relative;
margin: 0 auto;
text-align: center;
padding: 50px;
}

.fashion_img img {
width: 25vw;
padding: 2vw;
}

/* styles */

  .navbar-brand {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family:'Montserrat';
    position: fixed;
    top: 3%;
    left: 1.5%;
    height: 75px;
    width: 75px;
    cursor: pointer;
    z-index: 2;
  }

.content {
  z-index: 1;
}

h1 {   
  font-family:'Maven Pro', sans-serif;
  font-weight:300;
  font-size:32pt;
  text-align: center;
}

h2, h3 {
  font-family:'Maven Pro', sans-serif;
  font-weight:300;
  font-size:24pt;
}

pre {
  background:#ededed;
  padding:1em;
}

p {
  font-size:16pt;
}



/* PORTFOLIO */

.about {
  background: rgb(15, 14, 14);
  float: left;
  width: 100%;
}

.port-container {
  display:flex;
  flex-flow: row wrap;
  justify-content:space-around;
  padding: 60px;
}

.grid-container{
  position:relative;
}

.image {
  display: block;
  width: 275px;
  height: auto;
}

.block-overlay {
  position: absolute;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(143, 17, 0);
}

.grid-container:hover .block-overlay {
  opacity: .75;
}

// body {
//   background: rgb(15, 14, 14);
//   width: 100%;
//   height: 100%;
//   margin:0;
//   font-size:1.3em;
//   color:#333;
//   font-family:'Open Sans', sans-serif;
// }

.text {
  font-style: none;
  color: rgb(255, 255, 255);
}

.text:hover {
  font-style: none;
  color: rgb(255, 255, 255);
}
